<div class="container">
  <div class="row">
    <div class="col-8">
    
      <% @posts.each do | post | %>
        <%= render partial: "post", :locals => { current_account: current_account, post: post, comment: @comment } %>
      <% end %>
    </div>
  </div>
</div>